<!-- app.component.html -->
<h2>Requests</h2>
<table>
  <thead>
    <tr>
      <th>size</th>
      <th>method</th>
      <th>responseType</th>
      <th>url</th>
      <th>urlWithParams</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of requestArray">
      <td>{{ post.size }}</td>
      <td>{{ post.method }}</td>
      <td>{{ post.responseType }}</td>
      <td>{{ post.url }}</td>
      <td>{{ post.urlWithParams }}</td>
      <td>{{ post.count }}</td>
    </tr>
  </tbody>
</table>

<!-- app.component.html -->
<h2>Responses</h2>
<table>
  <thead>
    <tr>
      <th>size</th>
      <th>status</th>
      <th>size</th>
      <th>timeTaken</th>
      <th>urlWithParams</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of responseArray">
      <td>{{ post.size }}</td>
      <td>{{ post.status }}</td>
      <td>{{ post.size }}</td>
      <td>{{ post.timeTaken }}</td>
      <td>{{ post.urlWithParams }}</td>
      <td>{{ post.count }}</td>
    </tr>
  </tbody>
</table>


